@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Zoho Puvi';
  src: url('../public/fonts/Zoho-Puvi-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Zoho Puvi';
  src: url('../public/fonts/Zoho-Puvi-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Zoho Puvi';
  src: url('../public/fonts/Zoho-Puvi-Bold-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Zoho Puvi';
  src: url('../public/fonts/Zoho-Puvi-Extrablack.ttf') format('truetype');
}

@font-face {
  font-family: 'Zoho Puvi';
  src: url('../public/fonts/Zoho-Puvi-Extrabold.ttf') format('truetype');
}

@font-face {
  font-family: 'Zoho Puvi';
  src: url('../public/fonts/Zoho-Puvi-Extralight.ttf') format('truetype');
}

@font-face {
  font-family: 'Zoho Puvi';
  src: url('../public/fonts/Zoho-Puvi-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Zoho Puvi';
  src: url('../public/fonts/Zoho-Puvi-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Zoho Puvi';
  src: url('../public/fonts/Zoho-Puvi-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Zoho Puvi';
  src: url('../public/fonts/Zoho-Puvi-Regular-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Zoho Puvi';
  src: url('../public/fonts/Zoho-Puvi-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Zoho Puvi';
  src: url('../public/fonts/Zoho-Puvi-SemiboldItalic.ttf') format('truetype');
}

.Semibold {
  font-family: 'Zoho Puvi', sans-serif;
}

.Bold {
  font-family: 'Zoho Puvi', sans-serif;
}

.regular {
  font-family: 'Zoho Puvi', sans-serif;
}

.text-zoho-black {
  color: #000000;
}
